#contact-form{

    grid-column: 1/4;

    &>fieldset{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 1vh;

        &>label{

            color: var(--cream);
            font-size: 1.5rem;
            margin: 1vh 0;
        }

        &>textarea{

            min-height: 30vh;
        }
    }

    &>button{

        display: block;
        margin: auto;
    }

    @media screen and (max-width: 767px){
    
    }
    
    @media screen and (min-width: 768px) and (max-width: 1023px){
    
    }
    
    @media screen and (min-width: 1024px) and (max-width: 1299px){
     
    }
    
    @media screen and (min-width: 1300px){
     
    }

}