#hka-single-families-section{
    
    &>.outterBorderDecoration{
        
        grid-column: 1/4;
        height: fit-content;
        margin: auto;
    }

    .hka-single-family-card{

        height: fit-content;

        figure{
            
            
            &>img{
                
                max-height: 60vh;

            }
        }

        &>footer{
    
            &>ul{
    
                &>li{
    
                    &>a{
    
                        display: block;
                        width: fit-content;
                        margin: 1vh auto;
                        padding: .5vh 1vw;
                        border: solid 3px var(--van-dyke);
                        border-radius: 15px;
                        font-size: 1.2rem;
                        text-decoration: none;
                        background-color: var(--cream);
                        color: var(--redwood);
                        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                    }
                }
            }
        }
    }
}