body{

    &>footer{

        background-color: var(--redwood);
        color: var(--cream);
        height: 15vh;
        text-align: center;
        margin-top: 10vh;

        &>p{

            font-size: 1.5rem;
            padding-top: 5vh;
        }
    }
}