body{

    background-color: var(--dark-cyan);

    @media (prefers-color-scheme: dark){

        background-color: var(--rich-black);
        color: var(--white);
    }

    .hka-main-container{

        display: grid;
        min-height: 80vh;
        background-color: var(--dark-cyan);
    
        @media (prefers-color-scheme: dark){
    
            background-color: var(--rich-black);
        }
    
        @media screen and (max-width: 767px){
    
            grid-template-columns: .5fr 9fr .5fr;
        }
    
        @media screen and (min-width: 768px) and (max-width: 1023px){
    
            grid-template-columns: 1fr 8fr 1fr;
        }
    
        @media screen and (min-width: 1024px) and (max-width: 1299px){
        
            grid-template-columns: .5fr 3.5fr 3.5fr .5fr;
        }
    
        @media screen and (min-width: 1300px){
        
            grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
        }
    }
}